<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>IP Address Information</title>
    <style>
        body {
            background-color: yellow;
            color: black;
            font-family: Arial, sans-serif;
            padding: 20px;
        }

        #map {
            height: 400px;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <h1>Public IP Address Information</h1>
    {% if ip_info %}
        {% for key, value in ip_info.items() %}
            <p>{{ key }}: {{ value }}</p>
        {% endfor %}
      <a href="/export_pdf">Export as PDF</a>
      <div id="map">
            <iframe width="400" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q={{ ip_info['Latitude'] }},{{ ip_info['Longitude'] }}&z=14&output=embed"></iframe>
      </div>
    {% else %}
        <p>Failed to retrieve IP information.</p>
    {% endif %}
</body>
</html>
